.cart {
    .button{
        font-size: emCalc(14);
        padding-top: 8px;
        padding-bottom: 9px;
    }

    h1{
        border-bottom: none;
    }

    h4{
        color: $primary-color;
    }

    .cart-refresh{
        background: transparent url(../imgs/cart-sprite.png) no-repeat;
    }

    .cart-delete{
        background: transparent url(../imgs/cart-sprite.png) no-repeat -24px;
    }
    .cart-refresh, .cart-delete{
        display: inline-block;
        width: 24px;
        height: 25px;
        cursor: pointer;
    }

    form.item{
        input{
            display: inline-block;
            width: 60px;
            text-align: center;
            margin: 0;
        }

        .controls{
            display: inline-block;
            height: 30px;
            vertical-align: middle;
            margin-left: 5px;
        }
    }

    /* Coupons */
    .coupons{
        padding-left: 0;
        table{
            td{
                padding: 12px 9px;
            }

            input, .button{
                margin-bottom: 0;
            }
        }
    }

    /* Footer */
    footer{
        a{
           font-weight: bold !important; //TODO- Remove important
            &.secondary:hover{
                color: #46166b;
            }
        }
    }

}