section.checkout{
    /* Accordion */
    .accordion{
        padding-right: 15px !important;
        //Tabs
        & > dd{
            margin-bottom: 20px !important;

            // Accordion Heading
            & > a{
                font-size: 14px;
                color: #47266a;
                font-weight: bold;
                padding: 2px 10px;
                background: #fff;
                border: 1px solid #d3d2d2;
                line-height: 2.2;
            }

            &.complete{
                & > a{
                    color: #02924a;

                    &:after{
                        content: url(../imgs/edit-pencil.png);
                        margin-left: 20px;
                        position: relative;
                        top: 5px;
                    }
                }
            }

            &:last-child{
                margin-bottom: 0 !important;
            }
            // Tab content
            .content{
                padding: 20px 0;
                border: 1px solid #e3e3e3;
                border-top: none;

                //Links
                a{
                    text-decoration: underline;
                    color: #333;
                }

                // Font sizes
                p, h4 small{
                    font-size: 11px;
                }

                form a{
                    font-size: 12px;
                }

                // Forms
                form{
                    label{
                        &[for=addressConfirmation]{
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }

                    .absoluteCenter{
                        line-height: 72px;
                        text-align: center;
                    }

                    //Textarea
                    textarea{
                        resize: none;
                        height: 100px;
                    }
                }

                // HR
                hr{
                    margin: 15px 20px;
                }

                //Buttons
                .button.primary{
                    font-size: 14px;
                    font-weight: bold;
                }

                // Headings
                h4{
                    font-size: 14px;
                    color: #333333;
                    font-weight: bold;

                    label{
                        color: #333333;
                    }

                    small{
                        color: #333333;
                        display: block;
                        line-height: 2;
                        font-weight: normal;
                    }
                }

                &.active{
                    display: table;
                    width: 100%;

                    a{
                        background: none;
                    }
                }

                // Match padding with divider
                .row > .large-6 {
                    &:first-child{
                        padding-left: 20px;
                    }
                    &:last-child{
                        padding-right: 20px;
                    }
                }


                // Delivery details tweaks
                &.deliveryDetails{
                    padding-bottom: 75px;
                    footer{
                        position: absolute;
                        width: 97%;
                    }
                }

                // Vertical Tabs
                .tabContainer{
                    padding: 20px 20px 0px;

                    .tabs.vertical{
                        width: 100%;
                        dd{

                            margin-right: 6px;
                            margin-bottom: 6px !important;

                            & > a{
                                /* Fallback: */
                                background: #fcfcfc;
                                @include background(linear-gradient(top, #fcfcfc, #f0f0f0));
                                padding: 10px;
                            }

                            & > a, &.active a{
                                text-decoration: none;
                                font-size: 14px;
                            }

                            border: 1px solid #eeeeee;

                            &.active{
                                position: relative;
                                border-right: none;
                                a{
                                    color: #47266a;
                                    background: #fff;
                                    font-weight: bold;
                                }

                                &:after{
                                    content: '';
                                    width: 15px;
                                    height: 42px;
                                    position: absolute;
                                    right: -7px;
                                    top: -1px;
                                    background-color: #fff;
                                    border-top: 1px solid #eee;
                                    border-bottom: 1px solid #eee;
                                    z-index: 100;
                                    box-sizing: content-box;
                                }
                            }
                        }
                    }
                    .tabs-content.vertical{
                        width: 100%;
                        margin-bottom: 10px;
                        .content{
                            padding: 10px 20px;
                            min-height: 265px;

                            //Heading
                            h4{
                                border-bottom: 1px solid #eee;
                                padding-bottom: 5px;
                                margin-bottom: 20px;
                            }

                            form{
                                input[type=text], select{
                                    height: 28px;
                                    padding: 4px 8px;
                                }
                                label{
                                    text-align: right;
                                    padding-right: 10px;
                                    line-height: 2;
                                }
                            }

                            span{
                                font-size: 11px;
                                color: #aaaaaa;
                                &.price{
                                    color: #9e4827;
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                            }

                            .cvv{
                                padding-left: 10px;
                            }

                            h4{
                                font-size: 14px;
                            }

                            .separator{
                                text-align: center;
                                font-size: 30px;
                                line-height: 1;
                            }

                            &.active{
                                border: 1px solid #eeeeee;
                            }

                            .large-6{
                                &:first-child, &:last-child{
                                    padding: 0;
                                }
                            }
                        }
                    }
                }

                footer.payment{
                    padding: 0 20px;

                    .button.primary{
                        padding: 5px 16px;
                        font-size: 16px;
                    }
                    .note{
                        font-size: 11px;
                        background-color: #fffadc;
                        color: #92938e;
                        padding: 10px;
                        line-height: 1.1;
                    }
                }
            }
        }
    }

    /* Order Container */
    .orderContainer{
        background-color: rgba(255, 255, 255, 0.65);
        padding: 20px 40px;
        border: 1px solid #e3e3e3;

        h3{
            color: #532a7e;
            font-size: rem-calc(30);
        }

        p{
            font-size: rem-calc(16);
            color: #666666;
            &.greeting{
                color: #049e00;
                margin-bottom: 0;
            }
        }

        .paymentInfo{
            p{
                color: #353535;
                font-size: rem-calc(14);
                text-transform: uppercase;
            }
        }

        table{
            border: none;

            td{
                font-size: rem-calc(12);
                color: #353535;
            }

            thead {
                background: transparent;
                th{
                    color: #4b4b4b;
                    font-size: rem-calc(12);
                    font-weight: 600;
                    border-bottom: 1px solid #d6d6d6;
                }
            }

            tfoot {
                background: transparent;
                td{
                    border-bottom: none;
                    font-size: rem-calc(11);
                }
                a{
                    text-decoration: underline;
                    color: #353535;
                }
            }
        }
    }

    /* Cart Summary */
    .cart-summary{
        // background-color: #fff;
        // border-left: 5px solid #d0cfcf;
        padding-right: 0;

        h4, .summaryBox{
            border: 1px solid #d0cfcf;
            border-right: none;
            background-color: #fff;
        }

        .summaryBox{
            border-top: none;
            border-bottom: none;
            margin-bottom: 30px;
            border-left-width: 5px;
        }

        h4{
            color: #47266a;
            font-size: 14px;
            text-transform: uppercase;
            margin: 0;
            padding: 10px;
            border-left: none;
        }

        address{
            line-height: 1.5;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .rowContainer{
            padding: 10px;
            &, a, h6{
                font-size: 12px;
            }
            span{
                font-size: 11px;
                color: #464646;
                &.sub{
                    color: #757575;
                }
            }

            .row{
                //Totals row
                &.total{
                    h6, span{
                        font-weight: bold;
                        margin: 0;
                        line-height: 16px;
                        vertical-align: text-top;
                        color: #47266a;
                        font-size: 14px;
                    }

                    .columns{
                        &:last-child span{
                            font-size: 14px;
                        }
                    }
                }

                &.attrs .large-7:after, &.total .large-7:after{
                    content: ':';
                    position: absolute;
                    right: 5px;
                }

                &.attrs{
                    margin-top: 5px;
                    span{
                        font-size: 12px;
                    }
                }

                a{
                    display: block;
                    text-decoration: underline;
                    line-height: 1.5;
                    color: #464646;
                    margin-top: -3px;
                }

                .columns{
                    text-align: left;
                    &:first-child{
                        padding-right: 5px;
                    }
                    &:last-child span{
                        color: #47266a;
                        font-size: 12px;
                    }
                }
            }

            & > .row{
                border-top: 1px solid #ddd;
                padding: 8px 0;
                &:first-child{
                    border-top: none;
                }
            }
        }
    }
}