.contactusContainer{
    ul{
        margin-left: 0;
        list-style: none;
        li{
            h4{
                text-transform: uppercase;
                font-size: rem-calc(18);
            }
            p{
                font-size: rem-calc(12);
            }
        }
    }

    textarea[name='message']{
        height: 130px;
        resize: none;
    }
}