/* Imports */
@import "compass";
@import "compass/utilities/general/hacks";


/* Generic */
.fixed-container {
    width: 1024px;
    max-width: none;
    margin: 0 auto;
}

/* Header */
@import "header";

/* Slider */
.orbit-container{
    position:relative;
    padding:0;
    margin-top:emCalc(25);
    margin-bottom: emCalc(35);
    .orbit-slides-container{
        .orbit-caption{
            position: absolute;
            right: 0;
            bottom: emCalc(60);
            .right{
                font-family: $body-font-family;
                .captionHeading{
                    display: block;
                    font-size: rem-calc(34);
                    line-height: 1;
                }
                padding: 25px 15px 15px;
                background: rgba(46,38,16, 0.77);
            }
        }
    }
}

/* Thumbnails */
.thumbs-container{
    &.home{
        img{
            height: 254px;
        }
    }
    margin:0 -0.625rem 0 -0.625rem;
    h4{
        margin: 10px 0 0;
        font-size: emCalc(13);
    }
}

/* Slide out tabs */
.slide-out-div{
    // Link opacity
    a.handle{
        opacity: 0.75;
    }
    &.open a.handle{
        opacity: 1;
    }

    padding: 20px;
    width: 390px;
    border: 1px solid #fff;
    font-size:emCalc(12);
    font-family: $body-font-family;
    z-index: 100;
    // Css3 mixins
    //For IE<10
    // @include filter-gradient(#fff, #e3e3e3);
    /* Fallback: */
    background: #e3e3e3;
    @include background(linear-gradient(right, #fff, #e3e3e3));
    @include box-shadow(#000 5px 0px 8px);
    @include border-left-radius(12px);
    .agreement{
        font-size: emCalc(11);
    }
    &.blog{
        z-index: 50;
    }
    textarea{
        resize: vertical;
        max-height: 70px;
        min-height: 50px;
    }
    .button.large{
        font-size: emCalc(12);
        padding-top:emCalc(5);
        padding-bottom: emCalc(5);
    }
}


/* Form */
@import "forms";

/* Button */
@import "buttons";

section h1 {
    font-family: $body-font-family;
    text-align: center;
    color: #47266a;
    margin-bottom: 20px;
    padding-bottom: 10px;
    line-height: 0.8;
}


/* Categories */

.categories{
    h1{
        border-bottom: 1px solid #d9d9d9;
    }
    .thumbs-container{
        .th img{
            height: 276px;
            max-width: none;
        }
        h4 {
            display: inline-block;
            color: #464646;
            i{
                vertical-align: middle;
                font-size: emCalc(15);
                color: #fff;
            }
        }
    }
}



/* Grid */
.row .row{
    margin: 0;
}

.end{
    float: left !important;
}

/* thumb controlls */
.thumb-controls{
    font-size: emCalc(12);
    .optionTitle{
        line-height: 1.6;
        padding: 0;
    }
    .sub-nav{
        padding-top:0;
        margin-left: emCalc(-55);
        li{
            margin-bottom: 0;
            font-size: emCalc(12);
            &:before{
                margin: 0  emCalc(8);
            }
            a{
                color: #47266a;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}


/* Pagination */
.pagination-container{
    padding-right: 0;
    .pagination{
        padding-right: 0;
        padding-left: 25px;
        li{
            border: 1px solid #d0d0d0;
            border-radius: 4px;
            &.arrow, &.current, &.all{
                border:none;
            }

            &.all{
                &:before{
                    content: '|';
                    float: left;
                    margin-left: 5px;
                }
                a{
                    padding: 0 0 0 25px;
                }
                &.unavailable{
                    a{
                        color: #47266a;
                        &:hover{
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

/* Thumbnails */
.th{
    border-bottom: 1px solid #a4a2a7;
    padding-bottom: 10px;
    img{
        cursor: pointer;
    }
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;

    h4{
        -moz-transition: color 0.5s;
        -o-transition: color 0.5s;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
    }
    &:hover{
        opacity: 0.85;
        h4{
            color: #46166b;
        }
    }
    &.th-large{
        border: 10px solid #fff !important;
    }
    &.th-mini{
        border: 2px solid #fff !important;
    }
    &.th-large, &.th-mini{
        outline: 1px solid #d9d9d9;
        padding-bottom: 0;

        &:hover{
            opacity: 1;
        }
    }
}

/* JCarousel */
@import "jcarousel";

/* Product */
@import "product";


/* Social Icons - mini */
@import "icons";



/* BreadCrumbs */
.breadcrumbs{
    margin-bottom: 0;
    font-style: italic;
}


/* Side Nav */
.side-nav{
    li{
        a{
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

/* Share Post */
/* Promote */
.promote{
    ul{
        list-style-type: none;
        @extend .clearfix;
        margin-left: 0;
        line-height: 1.5;
        li{
            color: #666666;
            float: left;
            font-size: emCalc(12);

            &.fb-like{
                a{
                    margin-right: 10px;
                }
            }

            &:before{
                content: '|';
                float: left;
                margin: 0 10px;
            }
            &:first-child:before{
                content: '';
                display: none;
            }
        }

        ul{
            li{
                &:before{
                    content: '';
                    display: none;
                }
            }
            &.social{
                line-height: 2;
                margin-left: 5px;
            }
        }
    }
}


/* Box */
.box {
    border: 1px solid #434343;
    border-right: none;
    border-left: none;
    background-color: #fff;
    padding: 20px;
}

/* Dividers */
.dividerContainer{
    padding: 0 20px;
    display: table;
    position: relative;

    & > .columns{
        display: table-cell;
    }

    .divider{
        position: absolute !important;
        height: 100%;
        left: 50%;
        background-color: #dddddd;
        width: 1px;
    }
}





/* Shopping cart */
@import "cart";

/* Tables */
@import "tables";

/* Checkout */
@import "checkout";

/* Sign In */
@import "signin";

/* Register */
@import "register";

/* Account Info */
@import "accountInfo";

/* Contact Us */
@import "contactus";

/* Contact Us */
@import "myOrders";

/* Blog */
@import "blog";

/* Gift Certificate */
@import "giftCertificate";

/* Info pages in Footer */
@import "info";

/* Footer */
@import "footer";
