/* Generic */
body{
    margin-top: emCalc(40);
}

/* Header */
.logo{
    text-indent: -10000px;
    background: transparent url('../imgs/logo.png') no-repeat;
    line-height: emCalc(141);
    position:relative;
    left: emCalc(-20);
}

.top-side-nav-container, .search-container{
	position:relative;
	top:emCalc(68);
}

.search-container {
	padding-left: 0;
	.postfix{
		font-size: emCalc(26);
		color: #9b9b9b;
	}
}

/* Top right Sub-nav  */
.top-side-nav-container{
	.sub-nav{

		a span.notifications{
			background: transparent url('../imgs/notification-bg.png') no-repeat;
			line-height: emCalc(32);
			width: emCalc(41);
			display: inline-block;
			color: #fff;
			text-indent: emCalc(10);
			font-weight: bold;
			vertical-align: text-top;
		}

		.dropdown{
			padding-right: emCalc(15);
			position:relative;
			&:after{
				@include css-triangle(5px, #515151, top);
				position: absolute;
				top: 45%;
				right: 0;
			}
		}

		.f-dropdown{
			li{
				margin-left: emCalc(16);
				&:before {
					content: "";
					display: none;
				}
			}
		}
	}
}

/* Top Nav-bar */
.top-bar{
	padding:0;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	.top-bar-section li:not(.has-form) a:not(.button){
		padding: 0 emCalc(8);
	}

	.title-area{
		h3{
			display: inline-block;
			width: emCalc(65);
			height: emCalc(25);
			margin-top: emCalc(10);
			text-indent: emCalc(-10000);
			background: transparent url('../imgs/icon-logo.png') no-repeat;
		}
	}
}

/* Slider */
.orbit-container{
	position:relative;
	padding:0;
	margin-top:emCalc(25);
	// margin-bottom: emCalc(35);
	// .overlay{
	// 	background: rgba(0,0,0,0.6);
	// 	position: absolute;
	// 	right: 0;
	// 	bottom: emCalc(80);
	// 	width: emCalc(400);
	// 	padding: 20px 10px 10px;

	// 	h2, h3{
	// 		color: #fff;
	// 	}
	// 	h3{
	// 		margin-bottom: -10px;
	// 	}
	// }
}

/* Thumbnails */
.thumbs-container{
	margin:0 -0.625rem 0 -0.625rem;
}


/* Footer */
footer{
	&.main-nav{
		border-top: 1px solid #c4c4c4;
		border-bottom: 1px solid #c4c4c4;
		margin-top: emCalc(40);
		margin-bottom: emCalc(20);
	}
}