form{
    label{
        margin-bottom: emCalc(3);
        input, select, textarea {
            margin-top: 5px !important;
        }
    }
    span.required{
        color: red;
        margin-right: 3px;
        vertical-align: middle;
    }
}


// Radio/checkbox inside label
label{
    input[type="radio"], input[type="checkbox"]{
        margin: 0 2px 0 0;
        position: relative;
        top: 2px;
    }
}

fieldset{
    border: none;
    legend{
        width: 100%;
        padding: 10px 0;
        border: 1px solid #d3d3d3;
        border-left: none;
        border-right: none;
    }
    &:first-child legend{
        border-top: none;
    }
    margin-top: 0;
}

fieldset.columns {
    legend {
        border-top: 1px solid #d3d3d3;
    }
}


form .pullUp{
    margin: -10px 0 10px 0;
}


address{
    font-size: rem-calc(13);
    font-style: normal;
    padding-left: 15px;
}