.myOrders{
    a{
        text-decoration: underline;
    }
    p{
        font-size: rem-cal(12);
        color: #464646;
    }
    table{
        tbody tr:last-child td{
            border-bottom: none;
        }
    }
}
