.product{
    margin-top: 20px;
    section{
        padding-left: 0;

        &.info{
            padding-left: 15px;
            h3{
                color: #47266a;
                font-size: emCalc(28);
                margin: 0;
                line-height: 1.6;

                &.highlight{
                    color: #a9973b;
                    font-weight: 500;
                }

                small{
                    color: #000;
                    line-height: 1.125;
                    margin-left: emCalc(15);
                    padding-left: 20px;
                    &.instock{
                        background: transparent url(../imgs/in-stock.png) no-repeat left 4px;
                    }
                }
            }

            p{
                margin: -5px 0 15px;
            }

            form{
                .end{
                    padding: 0;
                }
                margin-top: emCalc(20);
                button{
                    line-height: emCalc(33);
                    text-transform: uppercase;
                }
            }

            .tabs-container{
                // border: 1px solid rgba(192, 170, 67, 0.5);
                // height: 315px;
                // overflow-y: auto;
                // overflow-x: hidden;
                margin-top: 20px;

                dl li, td, h5, p{
                    color: #666666;
                    font-size: emCalc(13);
                    font-family: $body-font-family;
                }

                h5{
                    font-weight: bold;
                    border-bottom: 1px solid #cecece;
                    padding-bottom: 10px;
                }

                table{
                    background: none;
                    border: none;
                    margin-bottom: 0;
                    width: 100%;

                    td:first-child{
                        padding-left: 0;
                    }
                    td:last-child{
                        padding-right: 0;
                    }
                }

                ul {
                    list-style-type: none;
                    margin: 0 0 35px;
                    li{
                        border-top: 1px dotted #9a9a9a;
                        line-height: 3;
                        &:last-child{
                            border-bottom: 1px dotted #9a9a9a;
                        }
                    }
                }

                // .tabs{
                //     background-color: rgba(192, 170, 67, 0.5);
                //     padding: 0 emCalc(7);

                //     dd{
                //         margin-top: emCalc(7);
                //         &.active{
                //             a{
                //                 background-color: #fff;
                //             }
                //         }
                //         a{
                //             background-color: transparent;
                //             padding: 7px 10px 10px;
                //         }
                //     }
                // }

                // .tabs-content{
                //     padding: emCalc(15);
                //     .content{
                //         padding-top: 0;

                //         table{
                //             background: none;
                //             border: none;
                //             margin-bottom: 0;
                //             width: 100%;

                //             td:first-child{
                //                 padding-left: 0;
                //             }
                //             td:last-child{
                //                 padding-right: 0;
                //             }
                //         }
                //     }

                //     h5{
                //         font-weight: bold;
                //         border-bottom: 1px solid #cecece;
                //         padding-bottom: 10px;
                //     }

                //     dl li, td, h5, p{
                //         color: #666666;
                //         font-size: emCalc(12);
                //         font-family: $body-font-family;
                //     }

                //     ul li{
                //         list-style-type: none;
                //         &:before{
                //             content: '*';
                //             margin-left: -15px;
                //             margin-right: 5px;
                //         }
                //     }
                // }
            }
        }
    }
    /* Carousel */
    .productCarousel{
        position: relative;

        .jcarousel{
            margin: 20px 45px;
            width: 380px;
            li{
                margin: 4px;
            }
        }

        .jcarousel-prev, .jcarousel-next{
            top: 50px;
        }
    }

}

/* Featured product carousel */
.featured{
    h4{
        color: #522a7d;
        font-size: emCalc(20);
        margin-top: 20px;
    }
    .th{
        img{
            height: 185px;
            max-width: 210px;
        }
    }
    .featuredCarousel{
        position: relative;
        .jcarousel{
            margin: 0px 50px;
            width: 890px;
            li{
                margin: 4px;
                width: 215px;
            }
        }

        .jcarousel-prev, .jcarousel-next{
            top: 92px;
        }
    }
}