.signInContainer{
    padding: 40px 20px;

    display: table;
    position: relative;

    .columns{
        display: table-cell;
    }

    //TODO- Component
    .divider{
        position: absolute !important;
        height: 80%;
        left: 50%;
        background-color: #dddddd;
        width: 1px;
        top: 10%;
    }

    p{
        font-size: rem-calc(12);
    }

    form a{
        font-size: rem-calc(12);
        color: #333333;
        text-decoration: underline;
    }

    h4{
        font-size: rem-calc(18);
    }

    p, h4{
        color: #333333;
    }

    .registerInfo{
        display: table-cell;
        vertical-align: middle;
        height: 255px;
    }
}