// Extend Default page layout
extends layout

// Change page content
block content
  section.row
    ul.breadcrumbs
      li
        a(href='index.html') Home
      block current
  section.row.categories
    block heading
    ul.small-block-grid-3.thumbs-container
      each val in new Array(15)
        li
          a.th(href='#')
            img(src='imgs/placehold-sub-category.gif', alt='sub-category')
            h4
              | Sub-Category



