// Extend Default page layout
extends layout
// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Accent Tables
// Change page content
block content
  section.row
    ul.breadcrumbs
      li
        a(href='index.html') Home
      li
        a(href='furniture.html') Furniture
      li.current
        a(href='#') Accent Tables
  section.row.categories
    h1 Accent Tables
    // Thumb Controls Top
    section.thumb-controls.row
      span.columns.small-1.optionTitle Sort By :
      ul.sub-nav.columns.small-5
        li
          a(href='#') Popularity
        li
          a(href='#') What's New
        //- li
        //-   a(href='#') Price
      .columns.small-7.pagination-container
        ul.pagination.right
          li.arrow.unavailable
            a(href='') <<
          li.arrow
            a(href='') <
          li
            a(href='') 1
          li.current
            a(href='') 2
          li
            a(href='') 3
          li
            a(href='') 4
          li.unavailable
            a(href='') …
          li
            a(href='') 12
          li
            a(href='') 13
          li.arrow
            a(href='') >
          li.arrow.unavailable
            a(href='') >>
          li.unavailable.all
            a(href='') View All
    // Thumbnails
    ul.small-block-grid-3.thumbs-container
      li
        a.th(href='contemporary-table.html')
          img(src='imgs/furniture/accent-tables/baldwin-solid-wood-sofa.jpg', alt='Baldwin Solid Wood Sofa Table')
          h4
            | Baldwin Solid Wood Sofa Table
      li
        a.th(href='contemporary-table.html')
          img(src='imgs/furniture/accent-tables.jpg', alt='beds')
          h4
            | Traditional Side Table
      li
        a.th(href='contemporary-table.html')
          img(src='imgs/furniture/accent-tables/contemporary-side.jpg', alt='Contemporary Side Table')
          h4
            | Contemporary Side Table
      li
        a.th(href='contemporary-table.html')
          img(src='imgs/furniture/accent-tables/baldwin-solid-wood-sofa2.jpg', alt='Baldwin Solid Wood Sofa Table')
          h4
            | Baldwin Solid Wood Sofa Table
      li
        a.th(href='contemporary-table.html')
          img(src='imgs/furniture/accent-tables/traditional-side.jpg', alt='Traditional Side Table')
          h4
            | Traditional Side Table
      li
        a.th(href='contemporary-table.html')
          img(src='imgs/furniture/accent-tables/contemporary-side2.jpg', alt='Contemporary Side Table')
          h4
            | Contemporary Side Table
      li
        a.th(href='contemporary-table.html')
          img(src='imgs/furniture/accent-tables/baldwin-solid-wood-sofa3.jpg', alt='Baldwin Solid Wood Sofa Table')
          h4
            | Baldwin Solid Wood Sofa Table
      li
        a.th(href='contemporary-table.html')
          img(src='imgs/furniture/accent-tables/traditional-side2.jpg', alt='Traditional Side Table')
          h4
            | Traditional Side Table
      li
        a.th(href='contemporary-table.html')
          img(src='imgs/furniture/accent-tables/contemporary-side3.jpg', alt='Contemporary Side Table')
          h4
            | Contemporary Side Table
      li
        a.th(href='contemporary-table.html')
          img(src='imgs/furniture/accent-tables/baldwin-solid-wood-sofa4.jpg', alt='Baldwin Solid Wood Sofa Table')
          h4
            | Baldwin Solid Wood Sofa Table
      li
        a.th(href='contemporary-table.html')
          img(src='imgs/furniture/accent-tables/traditional-side3.jpg', alt='Traditional Side Table')
          h4
            | Traditional Side Table
      li
        a.th(href='contemporary-table.html')
          img(src='imgs/furniture/accent-tables.jpg', alt='Contemporary Side Table')
          h4
            | Contemporary Side Table
    // Thumb controls bottom
    section.thumb-controls.row
      .pagination-container.columns.small-offset-5.small-7
        ul.pagination.right
          li.arrow.unavailable
            a(href='') <<
          li.arrow
            a(href='') <
          li
            a(href='') 1
          li.current
            a(href='') 2
          li
            a(href='') 3
          li
            a(href='') 4
          li.unavailable
            a(href='') …
          li
            a(href='') 12
          li
            a(href='') 13
          li.arrow
            a(href='') >
          li.arrow.unavailable
            a(href='') >>
          li.unavailable.all
            a(href='') View All





