// Extend Default page layout
extends layout
// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Account Information
// Change page content
block content
  section.row
    ul.breadcrumbs
      li
        a(href='index.html') Home
      li
        a(href='#') My Account
      li.current
        a(href='#') Account Information
  section.row.signin
    h1 Account Information
    .box.accountInfoContainer.row.collapse
      .small-12.columns
        form(data-abide, action='checkout.html')
          .row
            fieldset
              legend
                | Account Details
                a(href='#').edit Edit
              .row.collapse
                .row.collapse
                  .small-2.columns
                    label.inline(for='name')
                      | Name*:
                  .small-4.columns.end
                    //- input(type='text', name='name', id='name', required)
                    span Anish Chief
                .row.collapse
                  .small-2.columns
                    label.inline(for='email')
                      | Email Address*:
                  .small-4.columns.end
                    //- input(type='email',id='email', name='email', required)
                    span anish@chiefsons.com
                //- .row.collapse
                //-   .small-5.columns
                //-     label
                //-       | Confirm Email Address*:
                //-       input(type='email', name='confirmEmail', required)
                .row.collapse
                  .small-2.columns
                    label.inline(for='phone')
                      | Phone:
                  .small-4.columns.end
                      //- input(type='text',id='phone', name='phone', placeholder='965-123-1010', pattern="\\d{3}-\\d{3}-\\d{4}")
                      //- small.error
                      //-   |A valid phone number is required (965-123-1010)
                      span 965-121-1010
                .row.collapse
                  .small-2.columns
                    label.inline(for='gender')
                      | Gender:
                  .small-4.columns.end
                      //- .row
                      //-   label.columns.small-2
                      //-     input(type='radio',id='gender', name='gender',value='male', required)
                      //-     | Male
                      //-   label.columns.small-3.end
                      //-     input(type='radio',id='gender', name='gender',value='female', required)
                      //-     | Female
                      span Male
                .row.collapse
                  .small-2.columns
                    label.inline
                      | Password*:
                  .small-4.columns.end
                      //- input(type='password', id='password', required)
                      //- small.error
                      //-   | Passwords must be at least 8 characters with 1 capital letter, 1 number, and one special character.
                      span
                        | ********** &nbsp;
                      a(href='change-password.html') Change Password
                //- .row.collapse
                //-   .small-5.columns
                //-     label
                //-       | Confirm Password*:
                //-       input(type='password', name='confirmPassword', required, data-equalto="password")
                //-       small.error
                //-         | Passwords must match.
            .row
              fieldset.columns.small-6
                legend
                  |Billing Address
                  a(href='#').edit Edit
                address.row.collapse
                  |Fay Al Hassawi <br>
                  |Heba Al Homaizi Complex <br>
                  |Behind City Center & near Home Center <br>
                  |Industrial Shuwaikh <br>
                  |Kuwait <br>
                  |+965 6990 9463
                .row.collapse.hide
                  .row.collapse
                    .small-3.columns
                      label.inline(for='nameBilling')
                        | Name*:
                    .small-5.columns.end
                      input(type='text',id='nameBilling', name='nameBilling', required)
                  .row.collapse
                    .small-3.columns
                      label.inline(for='billingAddress')
                          | Address*:
                    .small-5.columns.end
                      textarea(name='billingAddress',id='billingAddress', required)
                  .row.collapse
                    .small-3.columns
                      label.inline(for='phoneBilling')
                        | Phone:
                    .small-5.columns.end
                      input(type='text', id='phoneBilling', name='phoneBilling', placeholder='965-123-1010', pattern="\\d{3}-\\d{3}-\\d{4}")
                      small.error
                        |A valid phone number is required (965-123-1010)
                  .row.collapse
                    .small-3.columns
                      label.inline(for='city')
                        | City*:
                    .small-5.columns.end
                      select(name='city',id='city', required)
                        option(value='')
                        option Kuwait
                        option Kuwait
                  .row.collapse
                    .small-3.columns
                      label.inline(for='country')
                        | Country*:
                    .small-5.columns.end
                      select(name='country',id='country' required)
                        option Kuwait
                        option India
                  .row.collapse
                    .small-12.columns
                      label(for='addressConfirmation')
                          input(type='checkbox', id='addressConfirmation')
                          | Shipping address is the same as billing address
                  footer.row.collapse
                    .small-12.columns
                      input.button.primary.large(type="submit", value="save")
                      |&nbsp;
                      input.button.secondary.large(type="reset", value="reset")
              fieldset.columns.small-6
                legend
                  | Shipping Address
                  a(href='#').edit Edit
                address.row.collapse
                  |Fay Al Hassawi <br>
                  |Heba Al Homaizi Complex <br>
                  |Behind City Center & near Home Center <br>
                  |Industrial Shuwaikh <br>
                  |Kuwait <br>
                  |+965 6990 9463
                .row.collapse.hide
                  .row.collapse
                    .small-3.columns
                      label.inline(for='nameBilling')
                        | Name*:
                    .small-5.columns.end
                      input(type='text',id='nameBilling', name='nameBilling', required)
                  .row.collapse
                    .small-3.columns
                      label.inline(for='billingAddress')
                          | Address*:
                    .small-5.columns.end
                      textarea(name='billingAddress',id='billingAddress', required)
                  .row.collapse
                    .small-3.columns
                      label.inline(for='phoneBilling')
                        | Phone:
                    .small-5.columns.end
                      input(type='text', id='phoneBilling', name='phoneBilling', placeholder='965-123-1010', pattern="\\d{3}-\\d{3}-\\d{4}")
                      small.error
                        |A valid phone number is required (965-123-1010)
                  .row.collapse
                    .small-3.columns
                      label.inline(for='city')
                        | City*:
                    .small-5.columns.end
                      select(name='city',id='city', required)
                        option(value='')
                        option Kuwait
                        option Kuwait
                  .row.collapse
                    .small-3.columns
                      label.inline(for='country')
                        | Country*:
                    .small-5.columns.end
                      select(name='country',id='country' required)
                        option Kuwait
                        option India
                  //- .row.collapse
                  //-   .small-12.columns
                  //-     label(for='addressConfirmation')
                  //-         input(type='checkbox', id='addressConfirmation')
                  //-         | Shipping address is the same as billing address
                  footer.row.collapse
                    .small-12.columns
                      input.button.primary.large(type="submit", value="save")
                      |&nbsp;
                      input.button.secondary.large(type="reset", value="reset")











