// Extend Default category layout
extends _category

// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Bed & Bath

//Change current in breadcrumbs
block append current
  li.current
    a(href='#') Bed & Bath

//Change page heading
block append heading
  h1 Bed & Bath
