// Extend Default page layout
extends layout
// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Change Password
// Change page content
block content
  section.row
    ul.breadcrumbs
      li
        a(href='index.html') Home
      li
        a(href='#') My Account
      li.current
        a(href='#') Change Password
  section.row.signin
    h1 Change Password
    .box.row.collapse
      .small-12.columns
        form(data-abide, action='account-information.html')
          .row.collapse
            .small-5.columns
              label
                | Old Password*:
                input(type='password', name='oldPassword', required)
                small.error
                  | Passwords must be at least 8 characters with 1 capital letter, 1 number, and one special character.
          .row.collapse
            .small-5.columns
              label
                | New Password*:
                input(type='password', name='newPassword', id='newPassword', required)
                small.error
                  | Passwords must be at least 8 characters with 1 capital letter, 1 number, and one special character.
          .row.collapse
            .small-5.columns
              label
                | Re-enter New Password*:
                input(type='password', name='confirmPassword', required, data-equalto="newPassword")
                small.error
                  | Passwords must match.
          .row.collapse
            .small-9.columns
              input.button.primary(type='submit', value='save')
              input.button.secondary(type='button', value='cancel')
          .row.collapse
            p.note
             strong Note: &nbsp;
             |Passwords must be at least 8 characters with 1 capital letter, 1 number and one special character.














