// Extend Default page layout
extends layout
// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Checkout
// Change page content
block content
  section.row
    ul.breadcrumbs
      li
        a(href='index.html') Home
      li
        a(href='shopping-cart.html') Shopping Cart
      li.current
        a(href='#') Checkout
  section.row.checkout.collapse
    h1 Checkout
    div.row.collapse
      dl.accordion.columns.small-9(data-accordion='')
        dd
          a(href='#panel1') Step 1: Checkout Options
          #panel1.content.active
            .row.dividerContainer.collapse
              div.columns.small-5
                h4
                  | New Customer
                  small
                    | Checkout Options:
                form(data-abide='ajax')
                  label(for='register')
                    input#register(type='radio', name='register', required)
                    | Register Account
                  p
                   | By creating an account you will be able to shop faster, be up tp date on an order’s status, and keep track of the orders you have previously made
                  input.button.primary(type="submit", value="Continue")
              .small-2.columns.divider
              div.columns.small-5
                form(data-abide='ajax')
                  .row.collapse
                    h4
                      | Returning Customer
                      small
                        | I am a returning customer
                    .row.collapse
                      .small-9.columns
                        label
                          | Email:
                          input(type='email', name='email', placeholder='abcd@abcd.com', required)
                          small.error
                            | Please enter valid email.
                    .row.collapse
                      .small-9.columns
                        label
                          | Password:
                          input(type='password', name='password', required)
                          //- small.error
                          //-   | Passwords must be at least 8 characters with 1 capital letter, 1 number, and one special character.
                    .row.collapse
                      p.note
                       |Passwords must be at least 8 characters with 1 capital letter, 1 number and one special character.
                    .row.collapse
                      .small-7.columns.pullUp
                        a(href='#') Forgot Password ?
                    .row.collapse
                      .small-12.columns
                        input.button.primary(type='submit', value='Continue')
        dd
          a(href='#panel2') Step 2: Account & Billing Details
          #panel2.content
            form(data-abide='ajax')
              .row
                div.columns.small-6
                  h4
                    | Your Personal Details
                  .row.collapse
                    .small-12.columns
                      label
                        | First Name*:
                        input(type='text', name='first_name', placeholder='abcd', required)
                    .small-12.columns
                      label
                        | Last Name*:
                        input(type='text', name='last_name', placeholder='abcd', required)
                    .small-12.columns
                      label
                        | Email*:
                        input(type='email', name='email', placeholder='abcd@abcd.com', required)
                    .small-12.columns
                      label
                        | Telephone*:
                        input(type='text', name='telephone', placeholder='965-123-1010', required, pattern="\\d{10}")
                        small.error
                          |A valid 10 digit telephone number is required
                    .small-12.columns
                      label
                        | Fax:
                        input(type='text', name='fax', placeholder='965-123-1010')
                div.columns.small-6
                  .row.collapse
                    h4
                      | Your Address
                    .small-12.columns
                      label
                        | Company:
                        input(type='text', name='company', placeholder='abcd')
                    .small-12.columns
                      label
                        | Address*:
                        textarea(placeholder='abcd', name='address', required)
                    .small-12.columns
                      label
                        | City*:
                        select(name='city', required)
                          option Kuwait
                          option Kuwait
                    .small-12.columns
                      label
                        | Country*:
                        select(name='country', required)
                          option Kuwait
                          option Kuwait
                    .small-12.columns
                      label
                        | Post Code*:
                        input(type='number', name='postal_code', placeholder='10023', required, pattern='\\d{5}')
                        small.error
                          |A valid 5 digit postal code is required
                    .small-12.columns
                      label(for='addressConfirmation')
                        input(type='checkbox', id='addressConfirmation')
                        | My delivery address and billing addresses are the same.
              hr.row
              footer.row
                .small-6.columns.small-offset-6.text-right
                  input.button.primary(type='submit', value='Continue')
        dd
          a(href='#panel3') Step 3: Delivery Details
          #panel3.content.deliveryDetails
            form.shippingAddress(data-abide='ajax')
              .row.dividerContainer.collapse
                div.columns.small-5
                  h4
                    label.existingAddress
                      input(type='checkbox', checked='checked', name='existingAddress')
                      | Select an existing address
                  div
                    label(for='shippingAddress1')
                      input#shippingAddress1(type='radio', name='shippingAddress', required, checked='checked')
                      | Address 1
                    address
                      |Fay Al Hassawi <br>
                      |Heba Al Homaizi Complex <br>
                      |Behind City Center & near Home Center <br>
                      |Industrial Shuwaikh <br>
                      |Kuwait <br>
                      |+965 6990 9463
                  div
                    label(for='shippingAddress2')
                      input#shippingAddress2(type='radio', name='shippingAddress', required)
                      |Address 2
                    address
                      |Fay Al Hassawi <br>
                      |Heba Al Homaizi Complex <br>
                      |Behind City Center & near Home Center <br>
                      |Industrial Shuwaikh <br>
                      |Kuwait <br>
                      |+965 6990 9463
                .small-2.columns.divider
                div.columns.small-5
                  .row
                    h4
                      | Enter a new address
                    .small-12.columns
                      label
                        | Name*:
                        input(type='text', name='name', placeholder='abcd', required)
                    .small-12.columns
                      label
                        | Phone*:
                        input(type='text', name='phone', placeholder='000-000-0000', required, pattern="\\d{10}")
                        small.error
                          |A valid 10 digit phone number is required
                    .small-12.columns
                      label
                        | Address*:
                        textarea(placeholder='abcd', name='address', required)
                    .small-12.columns
                      label
                        | City*:
                        select(name='city', required)
                          option Kuwait
                          option Kuwait
                    .small-12.columns
                      label
                        | Country*:
                        select(name='country', required)
                          option Kuwait
                          option Kuwait
                    .small-12.columns
                      label
                        | Post Code*:
                        select(name='postal_code', required)
                          option 12345
                          option 48220
              footer
                hr.row
                .row
                  .small-6.columns.small-offset-6.text-right
                    input.button.primary(type='submit', value='Continue')
        dd
          a(href='#panel4') Step 4: Payment Method
          #panel4.content
            .tabContainer.row.collapse
              .columns.small-3
                dl.tabs.vertical(data-tab='')
                  //- dd.active
                  //-   a(href='#panel1a') Credit Card
                  dd.active
                    a(href='#panel1a') KNET
                  //- dd
                  //-   a(href='#panel3a') Cash on Delivery
              .columns.small-9
                .tabs-content.vertical
                  #panel1a.content.active
                    h4
                      |Pay using your KNET Card
                    form.payment(data-abide='ajax')
                      .row.collapse
                        .small-4.columns
                          label
                            | Card Number:
                        .small-7.columns.end
                          input(type='text', required, pattern='card')
                          small.error
                            | Invalid card number
                      .row.collapse
                        .small-4.columns
                          label
                            | Name on Card:
                        .small-7.columns.end
                          input(type='text', required)
                          small.error
                            | Please enter card holder's name.
                      .row.collapse
                        .small-4.columns
                          label
                            | Expiry Date:
                        .small-7.columns.end
                          .row.collapse
                            .small-6.columns
                              select(required)
                                option(value) Select Month
                                each val in ["Janurary", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
                                  option(value=val)= val
                              small.error
                                | Invalid Month
                            .small-1.columns.separator
                              | /
                            .small-5.columns
                              select(required)
                                option(value) Select Year
                                each val in ["2020", "2019", "2018", "2017", "2016", "2015", "2014", "2013", "2012", "2011", "2010"]
                                  option(value=val)= val
                              small.error
                                | Invalid Year
                      .row.collapse
                        .small-4.columns
                          label
                            | CVV Number:
                        .small-7.columns.end
                          .row.collapse
                            .small-4.columns
                              input(type='text', required, pattern='cvv')
                              small.error
                                | Invalid
                            .small-8.columns.cvv
                              img(src="imgs/cvv.png", alt="CVV number")
                              span 3 digit CVV number
                      .row.collapse
                        .small-7.columns.small-offset-4
                          span.price
                            |Amount Due: 305.000KD
                  #panel2a.content
                    h4
                      |Pay using your Debit Card
                  #panel3a.content
                    h4
                      |Pay by Cash on Delivery
            footer.row.collapse.payment
              .small-9.small-offset-3
                .row.collapse
                  .small-8.columns.note
                    strong Note:
                    |&nbsp; On clicking 'Make Payment' you will be redirected to the payment gateway.
                    | Please do not close the browser window or press back button.
                  .small-4.columns.text-right
                    input.button.primary.large(type='submit', value='Make Payment')
      div.columns.small-3.cart-summary
        .summaryBox
          h4 CART SUMMARY / 2 ITEM
          .rowContainer
            .row.collapse
              .small-7.columns
                a(href='contemporary-table.html')
                  |Traditional Side Table
                span.sub
                  | Colour: Brown &nbsp; QTY:1
              .small-5.columns
                span 185.300KD
            .row.collapse
              .small-7.columns
                a(href='contemporary-table.html')
                 |Traditional Side Table
                span.sub
                  | Colour: Brown &nbsp; QTY:1
              .small-5.columns
                span 185.300KD
            .row.collapse
              .row.collapse.attrs
                .small-7.columns
                  span Sub-Total
                .small-5.columns
                  span 370.600KD
              .row.collapse.attrs
                .small-7.columns
                  span Shipping
                .small-5.columns
                  span 10.000KD
            .row.collapse.total
              .small-7.columns
                span Grand Total
              .small-5.columns
                span 380.600KD

block append scripts
  script(src='js/checkout.js')











