// Extend Default page layout
extends layout
// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Furniture
// Change page content
block content
  section.row
    ul.breadcrumbs
      li
        a(href='index.html') Home
      li.current
        a(href='#') Furniture
  section.row.categories
    h1 Furniture
    ul.large-block-grid-3.thumbs-container
      li
        a.th(href='accent-tables.html')
          img(src='imgs/furniture/accent-tables.jpg', alt='accent-tables')
          h4
            | Accent Tables
      li
        a.th(href='#')
          img(src='imgs/furniture/beds.jpg', alt='beds')
          h4
            | Beds
      li
        a.th(href='#')
          img(src='imgs/furniture/buffets.jpg', alt='buffets')
          h4
            | Buffets
      li
        a.th(href='#')
          img(src='imgs/furniture/cabinets.jpg', alt='cabinets')
          h4
            | Cabinets
      li
        a.th(href='#')
          img(src='imgs/furniture/chairs.jpg', alt='chairs')
          h4
            | Chairs
      li
        a.th(href='#')
          img(src='imgs/furniture/desks.jpg', alt='desks')
          h4
            | Desks
      li
        a.th(href='#')
          img(src='imgs/furniture/dining-tables.jpg', alt='dining-tables')
          h4
            | Dining Tables
      li
        a.th(href='#')
          img(src='imgs/furniture/media-centers.jpg', alt='media-centers')
          h4
            | Media Center
      li
        a.th(href='#')
          img(src='imgs/furniture/night-stands.jpg', alt='night-stands')
          h4
            | Night Stands
      li
        a.th(href='#')
          img(src='imgs/furniture/outdoor-furnitures.jpg', alt='outdoor-furniture')
          h4
            | Outdoor Furnitures
      li
        a.th(href='#')
          img(src='imgs/furniture/screens.jpg', alt='screens')
          h4
            | Screens
      li
        a.th(href='#')
          img(src='imgs/furniture/shelvings.jpg', alt='shelving')
          h4
            | Shelving
      li
        a.th(href='#')
          img(src='imgs/furniture/sofas.jpg', alt='sofas')
          h4
            | Sofas
      li
        a.th(href='#')
          img(src='imgs/furniture/stools-poufs.jpg', alt='stools & poufs')
          h4
            | Stools & Poufs
      li
        a.th(href='#')
          img(src='imgs/furniture/trolleys.jpg', alt='trolleys')
          h4
            | Trolleys


