// Extend Default page layout
extends layout
// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Furniture
// Change page content
block content
  section.row
    ul.breadcrumbs
      li
        a(href='index.html') Home
      li.current
        a(href='#') Furniture
  section.row.categories
    h1 Furniture
    ul.large-block-grid-3.thumbs-container
      li
        .th
          img(src='imgs/furniture/accent-tables.jpg', alt='accent-tables')
          a(href='accent-tables.html')
            h4
              | Accent Tables
      li
        .th
          img(src='imgs/furniture/beds.jpg', alt='beds')
          a(href='#')
            h4
              | Beds
      li
        .th
          img(src='imgs/furniture/buffets.jpg', alt='buffets')
          a(href='#')
            h4
              | Buffets
      li
        .th
          img(src='imgs/furniture/cabinets.jpg', alt='cabinets')
          a(href='#')
            h4
              | Cabinets
      li
        .th
          img(src='imgs/furniture/chairs.jpg', alt='chairs')
          a(href='#')
            h4
              | Chairs
      li
        .th
          img(src='imgs/furniture/desks.jpg', alt='desks')
          a(href='#')
            h4
              | Desks
      li
        .th
          img(src='imgs/furniture/dining-tables.jpg', alt='dining-tables')
          a(href='#')
            h4
              | Dining Tables
      li
        .th
          img(src='imgs/furniture/media-centers.jpg', alt='media-centers')
          a(href='#')
            h4
              | Media Center
      li
        .th
          img(src='imgs/furniture/night-stands.jpg', alt='night-stands')
          a(href='#')
            h4
              | Night Stands
      li
        .th
          img(src='imgs/furniture/outdoor-furnitures.jpg', alt='outdoor-furniture')
          a(href='#')
            h4
              | Outdoor Furnitures
      li
        .th
          img(src='imgs/furniture/screens.jpg', alt='screens')
          a(href='#')
            h4
              | Screens
      li
        .th
          img(src='imgs/furniture/shelvings.jpg', alt='shelving')
          a(href='#')
            h4
              | Shelving
      li
        .th
          img(src='imgs/furniture/sofas.jpg', alt='sofas')
          a(href='#')
            h4
              | Sofas
      li
        .th
          img(src='imgs/furniture/stools-poufs.jpg', alt='stools & poufs')
          a(href='#')
            h4
              | Stools & Poufs
      li
        .th
          img(src='imgs/furniture/trolleys.jpg', alt='trolleys')
          a(href='#')
            h4
              | Trolleys


