// Extend Default page layout
extends layout
// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Gift Voucher
// Change page content
block content
  section.row
    ul.breadcrumbs
      li
        a(href='index.html') Home
      li.current
        a(href='blog.html') Gift Voucher
  section.row.giftCertificate.collapse
    h1 Gift Voucher
    div.row.container
      .columns.small-6
        p
         |Give someone the ultimate present by purchasing one of our gift voucher online. This allows the lucky recipient to spend it on any of her Serene favourite collections.
        img(src="imgs/giftVoucher.jpg", alt="Gift Voucher")
      .columns.small-6
        h4
          |Add a gift voucher to your bag
        form(data-abide, action='#', method='POST')
          .row.collapse
            .small-4.columns
              label.inline(for='voucherValue')
                | Gift Voucher Value*:
            .small-4.columns
              select(name='voucherValue', id='voucherValue', required)
                option(value='') ...Please Select
                option(value='5') KD 5.000
                option(value='10') KD 10.000
                option(value='15') KD 15.000
                option(value='20') KD 20.000
                option(value='25') KD 25.000
            .small-4.columns.end
              span Min KD 5 - Max KD 100
          .row.collapse
            .small-4.columns
              label.inline(for='name')
                | Recipients Name*:
            .small-8.columns
              input(type='text', name='name', id='name', required)
          .row.collapse
            .small-12.columns
              label
                | Personal Message:
                textarea(name='message', id='message', maxlength='250')
          .row.collapse
            .small-8.columns
              input.button.primary(type='submit', value='Add To My Bag')
            .small-4.columns.end
              span Max 250 charectors
          .row
            p.note
              |All Serene Gift Voucher are issued in KWD (Kuwaiti Dinar) and can only be redeemed in our Seren Online stores. Gift voucher are valid for 12 months.



















