doctype html
html(class="no-js",lang="en")
  head
    block headTag
      meta(charset='utf-8')
      link(rel='stylesheet', href='stylesheets/app.css')
  body
    .fixed-container
      // Headers
      include includes/headers/header
      // Actual page content
      block content
      // Footer
      include includes/footer
