// Extend Default category layout
extends _category

// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Lighting

//Change current in breadcrumbs
block append current
  li.current
    a(href='#') Lighting

//Change page heading
block append heading
  h1 Lighting
