// Extend Default category layout
extends _category

// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Peachicks

//Change current in breadcrumbs
block append current
  li.current
    a(href='#') Peachicks

//Change page heading
block append heading
  h1 Peachicks
