// Extend Default page layout
extends layout
// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Privacy Policy
// Change page content
block content
  section.row
    ul.breadcrumbs
      li
        a(href='index.html') Home
      li.current
        a(href='#') Privacy Policy
  section.row.info.collapse
    h1 Privacy Policy
    div.row.collapse
      .columns.large-12
        div
          h4 Section 1 - What do we do with your information?
          p
           |When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address. When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system. Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.
        div
          h4 Section 2 - Concent
          p
           |How do you get my consent? When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only. If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no. How do I withdraw my consent? If after you opt-in, you change your mind, you may withdrawing your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at care@peacockand paisley.com or mailing us at:
          p
            address
              strong Peacock & Paisley  <br>
              |Heba Al Homaizi Complex <br>
              |Behind City Center & near Home Center <br>
              |Industrial Shuwaikh <br>
              |Kuwait.<br>
        div
          h4 Section 3 - Disclosure
          p
           |We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.
        div
          h4 Section 4 - Securitys
          p
           |To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed. If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption. Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.
        div
          h4 Section 5 - Changes to the privacy policy
          p
           |We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it. If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.
















