// Extend Default page layout
extends layout
// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Return & Exchange
// Change page content
block content
  section.row
    ul.breadcrumbs
      li
        a(href='index.html') Home
      li.current
        a(href='#') Return & Exchange
  section.row.info.collapse
    h1 Return & Exchange
    div.row.collapse
      .columns.small-12
        p
         |At P&P, we have made it our mission to give you a wide collection of the best in everything home at unbelievable prices! We want to make your home a fabulous place to live in and we are committed to doing everything possible to do so! If you do not like a product, we will be glad to accept it back within 15 days of delivery– unused and in its original packing. You can initiate a return by:
        p
         |* Calling our customer no. 965 2292 3035 (9 AM - 7 PM) ORssss * Emailing us at returns@peacockandpaisley.com
        div
          h4 Conditions for cancellation
          ul
            li
             |Cancellations on categories (other than furniture and lighting) are allowed only till the item is shipped from our warehouse. Please contact our customer care to assist with you the same.
            li
             |No cancellations are allowed on Furniture and Lighting categories once the order is placed. In case of any exception, at sole discretion of P&P, two-way shipping charges will be borne by the customer.
            li
             |In case of cancellations, no refund will be made for Part Payment orders that contain products from Furniture and Lighting categories; the advance amount will be forfeited as cancellation charges.
        div
          h4 Conditions for return
          ul
            li
             |Returns for Furniture and Lighting category will be accepted only for Damaged/ Defective products. Refund will be provided only in case replacement for the same product is not available.
            li
             |Please notify us of receipt of a Damaged/ Defective product maximum within 48 hours of delivery
            li
             |Please do not accept any products with damaged/ tampered packaging (excludes normal wear & tear and markings on the outer surface of the package, acceptable in the transit process)
            li
             |Products/ Items should be UNUSED
            li
             |Products should be returned in their original packaging along with the original price tags, labels and invoices
            li
             |It is advised that the return packets should be strongly and adequately packaged so that there is no damage of goods in transit
            li
             |Any products damaged post delivery to customer, shall not be accepted for return
        div
          h4 Refunds
          p
           |Refunds will be processed within 7 business days* of receipt of the product by P&P, provided goods are received in acceptable condition, as dispatched from our warehouse. Refund method will be based on the mode of order payment, as follows-
          ul
           li
            |Orders paid for through credit/ debit card will be refunded back to the credit/ debit card
           li
            |Orders paid for through net banking accounts will be credited back to the bank account
           li
            |Orders paid for through other modes of payment will be refunded either through an account payee cheque in the customer's name (as given in "billing name" at time of purchase), or an online transfer via NEFT to customer's bank account














