// Extend Default page layout
extends layout
// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Shipping
// Change page content
block content
  section.row
    ul.breadcrumbs
      li
        a(href='index.html') Home
      li.current
        a(href='#') Shipping
  section.row.info.collapse
    h1 Shipping
    div.row.collapse
      .columns.small-12
        div
          h4 How long does it take for delivery?
          p
           |When you order from our website, we ensure that the order gets processed within 24 hours and gets delivered within 15 business days.
        div
          h4 How much do I have to pay for delivery?
          p
           |We provide free delivery pan-India (for furniture and lighting delivery rates please see the below table). However for orders below KD. 50.000, shipping charges of KD. 10.000/- are applicable.
        div
          h4 How can I track my order?
          p
           |Your order status is updated to you via emails at every step. If you are having trouble reading the emails or if you haven't received any updates, please get in touch with our Customer Care immediately. Give us a call on 965 2292 3035 (9 AM - 6 PM) or drop us an email at care@peacockandpaisley.com An email is sent to you after the order is shipped that contains the tracking number and the service provider. Type the tracking number in the tracking section on the website of the service provider. The order status would provide detailed information on your package.
        div
          h4 Will I have to sign for my delivery?
          p
           |Yes, you will be asked to sign a delivery form, in which you confirm that the product(s) was delivered in the correct condition (without obvious defects or damage).
        div
          h4 What if I am not home when my package arrives?
          p
           |Our shipping partner will leave a notice at your address notifying you of an alternative delivery or pick-up arrangement
        div
          h4 Will I have to sign for my delivery?
          p
           |Yes, you will be asked to sign a delivery form, in which you confirm that the product(s) was delivered in the correct condition (without obvious defects or damage).















