// Extend Default page layout
extends layout
// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Shopping Cart
// Change page content
block content
  section.row
    ul.breadcrumbs
      li
        a(href='index.html') Home
      li.current
        a(href='#') Shopping Cart
  section.row.cart
    h1 Shopping Cart
    table.small-12.products
      thead
        tr
          th Image
          th
          th Color
          th Quantity
          th.text-right Unit Price
          th Total
          th
      tbody
        tr
          td
            a.th.th-mini(href='contemporary-table.html')
              img(src='imgs/furniture/accent-tables/contemporary-side-mini.jpg', alt='contemporary-side-mini')
          td
            a(href='contemporary-table.html')
              | Traditional Side Table
            small Product code: PP234561F
          td
            | Brown
          td
            form.item
              input(type='text', value='1')
              span.controls
                span.cart-refresh
          td.text-right
            | 185.300 KD
          td
            | 185.300 KD
          td
            span.controls
              span.cart-delete
        tr
          td
            a.th.th-mini(href='contemporary-table.html')
              img(src='imgs/furniture/accent-tables/contemporary-side-mini.jpg', alt='contemporary-side-mini')
          td
            a(href='contemporary-table.html')
              | Contemporary Side Table
            small Product code: PP234561F
          td
            | Brown
          td
            form.item
              input(type='text', value='1')
              span.controls
                span.cart-refresh
          td.text-right
            | 185.300 KD
          td
            | 185.300 KD
          td
            span.controls
              span.cart-delete
      tfoot
        tr
          td.padded(colspan="4")
          td.text-right Subtotal:
          td 370.600 KD
        tr
          td.padded(colspan="4")
          td.text-right Shipping:
          td 10.000 KD
        tr.total
          td.padded(colspan="4")
          td.text-right Grand Total:
          td 380.600 KD
          td
        //- tr
        //-   td(colspan=7)
        //-     table
        //-       tbody
        //-         tr
        //-           td Sub-Total:
        //-           td 370.600 KD
        //-         tr
        //-           td Shipping:
        //-           td 10.000 KD
        //-       tfoot
        //-         tr
        //-           td Grand Total:
        //-           td 380.600 KD
        //-     button.button.secondary.large Continue Shopping
        //-     a.button.primary.large.right(href='checkout.html') Checkout
    footer.row.collapse
      .columns.small-4.small-offset-8
        a.button.secondary.large Continue Shopping
        a.button.primary.large.right(href='checkout.html') Checkout
      //- .coupons.columns.large-6
      //-   h4 Gift Voucher & Discount Coupon
      //-   table
      //-     tbody
      //-       tr
      //-         td
      //-           strong Use Deal / Coupon Code:
      //-         td
      //-           input(type='text', placeholder='Enter deal / coupon code')
      //-         td
      //-           button.button.secondary.radius.large Apply
      //-       tr
      //-         td
      //-           strong Use Gift Voucher:
      //-         td
      //-           input(type='text', placeholder='Enter gift voucher code')
      //-         td
      //-           button.button.secondary.radius.large Apply
      //- .summary.columns.large-6.large-offset-6
      //-   table
      //-     tbody
      //-       tr.row
      //-         td.large-8.columns Sub-Total:
      //-         td.large-4.columns 370.600 KD
      //-       tr.row
      //-         td.large-8.columns Shipping:
      //-         td.large-4.columns 10.000 KD
      //-     tfoot
      //-       tr.row
      //-         td.large-8.columns Grand Total:
      //-         td.large-4.columns 380.600 KD
      //-   button.button.secondary.large Continue Shopping
      //-   a.button.primary.large.right(href='checkout.html') Checkout









