// Extend Default page layout
extends layout
// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Sign In
// Change page content
block content
  section.row
    ul.breadcrumbs
      li
        a(href='index.html') Home
      li
        a(href='#') Shopping Cart
      li.current
        a(href='#') Checkout
  section.row.signin
    h1 Sign In
    .box.signInContainer.dividerContainer.row.collapse
      .large-5.columns
        form(data-abide, action='checkout.html')
          .row.collapse
            .large-9.columns
              label
                | Email Address:
                input(type='email', name='email', placeholder='abcd@abcd.com', required)
                small.error
                  | Please enter valid email.
          .row.collapse
            .large-9.columns
              label
                | Password:
                input(type='password', name='password', required)
                small.error
                  | Passwords must be at least 8 characters with 1 capital letter, 1 number, and one special character.
          .row.collapse
            .large-9.columns.pullUp
              a(href='#') Forgot Password ?
          .row.collapse
            .large-9.columns
              input.button.primary(type='submit', value='sign in')
      .large-2.columns.divider
      .large-5.columns
        .registerInfo
          h4
            | New to P&P, register now!
          p
           | By creating an account you will be able to shop faster, be up tp date on an order’s status, and keep track of the orders you have previously made
          a.button.primary(href="register.html")
            | register












