// Extend Default category layout
extends _category

// Change title of page
block prepend headTag
  title Peacocks and Paisleys | Walls & Floors

//Change current in breadcrumbs
block append current
  li.current
    a(href='#') Walls & Floors

//Change page heading
block append heading
  h1 Walls & Floors
